@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato&family=Roboto:ital@1&family=Sofia&display=swap');

:root{
--light-gray:#2b3032a1;
--primary-color:#45ccb8;
--border:#2b303218;
--text-color:#ff686b;
--roboto:"Roboto",sans-serif;
--gugi:"Gugi",cursive;
--sofia:"Sofia",cursive;
}

.primary-color{
    color:var(--primary-color);
}

.bg-primary-color{
    color: var(--primary-color)!important;
}

.text-color{
    color: var(--text-color);
}

font-roboto{
    font-family: var(--roboto);
}


.lightblue{
    color:lightblue ;
}

header{
    background-color: var(--primary-color);
    font-family: var(--roboto);
    
}

header .site-title{
    font-family: var(--gugi);
}

.container .dropdown-toggle,
.container .dropdown-item{
    font-size: 0.7em;
}

.header-links a{
    font-size: 0.9;
    text-decoration: none;
    color: white;
}

.navbar-nav{
    padding:0.8em 0em; 
}

.navbar-nav.nav-link{
    font-size: 0.9em;
    color: var(--light-gray)!important;
}

.navbar-nav .navbar-item .nav-link{
    padding:0 1.3em;
}

.navbar-nav .basket-icon{
    margin-right: 6.5rem !important;
}

.row {
    display: flex;
    
  }
  
  /* Left column (menu) */
  .left {
    flex: 35%;
    padding: 15px 0;
  }
  
  .left h2 {
    padding-left: 8px;
  }
  
  /* Right column (page content) */
  .right {
    flex: 65%;
    padding: 15px;
  }
  
  /* Style the search box */
  #mySearchmenu {
    width: 50%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
    margin-left: 20px;
  }
  
  /* Style the navigation menu inside the left column */
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 50%;
  }
  
  #myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
  }
  
  
  #myMenu li a:hover {
    background-color: #eee;
  }

  .containerlog {
    padding: 16px;
    background-color: white;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 20px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

  .alert {
    padding: 20px;
    background-color:#e6e6e6;
    color: black;
    margin-left: 20%;
    margin-top: -60%;
    width: auto;
    height: 50%;
  }
  
  .closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 100px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  .imgmenu{
    width: 100px;
  }